@media (min-width: 768px) {
  .content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1140px;
  }
}
.content {
  border: 1px solid red;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
}
.content .container {
  float: left;
  width: 33%;
  clear: right;
}
.content .container img {
  float: left;
  width: 100%;
  clear: right;
}
